<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238002687617-a9s4len4m28snsn4pktstdamf9n1j0q0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238002687617-a9s4len4m28snsn4pktstdamf9n1j0q0</string>
	<key>API_KEY</key>
	<string>AIzaSyDvGodpHBQ547tZ00-iMDLYmg8TTI5kXww</string>
	<key>GCM_SENDER_ID</key>
	<string>238002687617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>owner.CyutOrderSystem</string>
	<key>PROJECT_ID</key>
	<string>cyutordersystem</string>
	<key>STORAGE_BUCKET</key>
	<string>cyutordersystem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238002687617:ios:7e896eef008617d7</string>
	<key>DATABASE_URL</key>
	<string>https://cyutordersystem.firebaseio.com</string>
</dict>
</plist>